@mixin Flex-box($flexDirection,$justify, $alignItem) {
    display: flex;
    flex-direction:$flexDirection;
    justify-content: $justify;
    align-items: $alignItem;
}

// REPONSIVE
    /*
      0-600PX:PHONE;
      600-900PX:TABLET PORTRAIT
      900-1200PX: TABLET LANDSCAPE
      1200-1800PX: DESTOP;
      1800 > : BIG DESTIOP; 
*/


@mixin respond($breakpoint) {
    @if $breakpoint == phone{
        @media (max-width: 37.5em){@content};
    }
    @if $breakpoint == tab-port{
        @media (max-width: 56.25em){@content};
    }
    @if $breakpoint == tab-lands{
        @media (max-width:75.5em){@content};
    }
    @if $breakpoint == destop{
        @media (max-width:112.5em){@content};
    }
    @if $breakpoint == big-destop{
        @media (min-width:112.5em){@content};
    }
}
