.modal{
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:#f8f8f8;
    width: 50rem;
    height: 30rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    box-shadow: 4rem 4rem 20rem rgba(0, 0, 0, 0.5);
    @include respond(phone){
        width: 95%;
    }
    &__title{
        padding:1rem 0;
        text-align: center;
        background-color: $blue--3;
        color:#fff;
        font-size: 2rem;
    }
    &__content{
        padding:2rem;
    }
    &__aciton{
        position: absolute;
        bottom: .5rem;
        right: 1rem;
        display: flex;
        justify-content: flex-end;
    }
}