#paypage-nav{
    display: flex;
    @include respond(tab-port){
        flex-direction: column;
        height: 25rem;
        align-items: center;
    }
}

.pay-page__header{
     width:100%;
     height: 50vh;
     position: relative;
     & img{
         width: 100%;
         height: 100%;
     }
     & h1{
         text-transform: uppercase;
         color:#fff;
         font-size: 2.5rem;
         position: absolute;
         top:50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
}
.pay{
    width:100%;
    padding:4rem 4rem;
    text-align: center;
    box-sizing: border-box;
    @include respond(phone){
        background:#f9f9f9;
    }
    & h2{
        font-size: 2.5rem;
        margin:4rem 0;
    }
    &__list{
        display: flex;
        justify-content: space-evenly;
        @include respond(phone){
            flex-direction: column;
        }
    }
    &__item{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin:0 1rem;
        @include respond(phone){
            margin-bottom: 3rem;
            background: #fff;
        }
        &--header{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            & i{
                font-size: 5rem;
                color: $blue--2;
                padding:1rem;
                border-radius:50%;
                position: relative;
                cursor: pointer;
               &::after{
                  content: "";
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  position: absolute;
                  top:0;
                  left:0;
                   border:1px solid $blue--3;
                  z-index: -1;
                  animation: room 1s linear infinite;
               }
            }
        }
        &--detail{
            font-size: 1.6rem;
            margin: 2rem 0;
            & h4{
                margin:1rem 0;
            }
        }
    }
}

// item pay
.pay__item__list{
    list-style: none;
    & li{
        margin:2rem 0;
        display:flex;
        align-items: center;
        & i{
            color: $blue--2;
            margin-right: 2rem;
            border: 1px solid $blue--3;
            border-radius: 50%;
            padding:.8rem;
            cursor: pointer;
        }
    }
}

@keyframes room{
    20%{
        transform:scale(1);
    }
    50%{
        transform:scale(1.2);
    }
    100%{
        transform:scale(1);
    }

};